# Ignore the virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore IDE specific files
.vscode/
.idea/

# Ignore distribution and build files
dist/
build/
*.egg-info/

# Ignore private files
Structure.ini
keys.py
current_weather_data.csv
final_weather_data.csv
WeatherOutput.txt