# Ignore the virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore IDE specific files
.vscode/
.idea/

# Ignore distribution and build files
dist/
build/
*.egg-info/

# Ignore private files
Fonts/
Images/
Structure.ini
keys.py
src/fireplace/current_weather_data.csv
src/fireplace/final_weather_data.csv
src/fireplace/WeatherOutput.txt
current_weather_data.csv
final_weather_data.csv